body {

    padding: 50px;
    text-align: center;
     background-repeat: no-repeat;
    background-image: url(imagenes/lol.jpg);
    background-size: cover;
}




.coches {
    display: flex;
    flex-wrap: wrap;
justify-content:center;
 border-radius: 12px;


   
}
section:nth-child(1){
    font-size: 28px;
  padding-top: 100px;
   color: white;
}
a{
    color: red;
    text-decoration: none;
}



.carta {
 
       width: 420px;
    height: 560px;
    padding: 5px;
  
  margin-top: 50px;
    padding-top: 10px;
    padding-left: 10px;
     border-radius: 12px;
     padding-bottom: 30px;
       
    
    
}

.carta:hover {

    transform: scale(1.05);
  
}



.frente {
    background: #ffffff;
    width: 100%;
   justify-content: center;
    align-items: center;
       border-radius: 12px;
        border: 1px solid black;
}


.frente img {
    width: 420px;
    height: 560px;
    object-fit: cover;
     border-radius: 12px;

    
    

}

.frente h3 {
    margin: 10px 0;
    font-size: 22px;


}
ol{
    display: flex;

      text-decoration: rgb(255, 0, 0) solid underline ;
  
}
li{
    display: flex;
    color: rgb(255, 0, 0);
    width: 30%;
    font-size: 25px;
    justify-content: center;
   
    justify-content: space-between;
}



p{
    color: white;
    font-size: 17px;
}
h3{
    font-size: 18px;
 
}

h1 img{
    width:800px;
    height: 250px;
     border-radius: 12px;
   
}
h1 img:hover{
    box-shadow: 0 0 10px 2px rgba(192, 199, 5, 0.5);
}

   
     








