body {

    padding: 50px;
    text-align: center;
     background-repeat: no-repeat;
    background-image: url(imagenes/lol.jpg);
    background-size: cover;
}




.coches {
    display: flex;
    flex-wrap: wrap;
justify-content:center;
 border-radius: 12px;


   
}



.carta {
 
       width: 550px;
    height: 700px;
    padding: 10px;
  
    margin-top: 200px;
    padding-top: 10px;
    padding-left: 10px;
     border-radius: 12px;
       
    
    
}

.carta:hover {

    transform: scale(1.05);
  
}



.frente {
    background: #ffffff;
    width: 100%;
   justify-content: center;
    align-items: center;
       border-radius: 12px;
        border: 1px solid black;
}


.frente img {
    width: 550px;
    height: 700px;
    object-fit: cover;
     border-radius: 12px;

    
    

}

.frente h3 {
    margin: 2px 0;

}
ol{
    display: flex;

      text-decoration: red solid underline ;
  
}
li{
    display: flex;
    color: white;
    width: 25%;
    font-size: 45px;
  
}



p{
    color: white;
    font-size: 36px;
}
h3{
    font-size: 35px;
 
}

h1 img{
    width:1100px;
    height: 350px;
    padding-top: 35px;
     border-radius: 12px;
}






